.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
}

.logo {
    height: 25px;
    object-fit: contain;
    margin-left: 20px;
}

.header_center {
    display: flex;
    align-items: center;
    width: 40%;
    border: 1px solid black;
}

.searchIcon {
    width: 50px !important;
    background-color: rgb(245, 243, 235);
    border-left: 1px solid lightgray;
    color: gray;
}

.header_right {
    display: flex;
    align-items: center;
}

.header_center>input {
    flex: 1;
    border: none;
}

.header_right {
    margin-right: 10px;
}

.videoCall {
    margin: 10px;
}

.appsIcon {
    margin: 10px;
}

.notifications {
    margin: 15px;
}